body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(-45deg, #2acfd9, #35d8a6, #1E90FF, #000);
    background-size: 400% 400%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
}


form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 90%;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.create-account {
    margin-top: 15px;
    font-size: 14px;
}

.create-account a {
    color: #1E90FF;
    text-decoration: none;
}

.create-account a:hover {
    text-decoration: underline;
}
